body {
  margin:0px;
  background-image:url('../../images/bg.jpg');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:static;
  left:auto;
  width:657px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:327px;
  top:170px;
  width:10px;
  height:110px;
}
#u0_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u0_end {
  position:absolute;
  left:-5px;
  top:93px;
  width:20px;
  height:18px;
}
#u0_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:110px;
}
#u1 {
  position:absolute;
  left:357px;
  top:200px;
  width:300px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:190px;
  top:182px;
  width:120px;
  height:90px;
  opacity:0.9;
  text-align:left;
}
#u3_img {
  position:absolute;
  left:-4px;
  top:-3px;
  width:128px;
  height:98px;
}
#u4 {
  position:absolute;
  left:2px;
  top:37px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
